<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="slaker.sydneyuni.au.com.slaker">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="slaker.sydneyuni.au.com.slaker.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.InstructionsActivity"
            android:label="@string/buttonInstructions"
            android:parentActivityName=".activities.MainActivity">
            <intent-filter>
                <action android:name="slaker.sydneyuni.au.com.slaker.InstructionsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ExperimentActivity"
            android:label="@string/buttonFirstPicture"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="slaker.sydneyuni.au.com.slaker.ExperimentActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ResultsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.ExperimentActivity">
            android:screenOrientation="portrait"/>
            <intent-filter>
                <action android:name="slaker.sydneyuni.au.com.slaker.ResultsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ExperimentActivity" />
        </activity>
        <activity android:name=".activities.UserActivity" />
        <activity android:name=".activities.ItemActivity" />
        <activity android:name=".activities.Interpretation" />
        <activity android:name=".activities.ExampleInstructions"
            android:screenOrientation="landscape">

        </activity>
    </application>

</manifest>